a,a:focus,a:hover,aside.sidebar .current-menu-item a, .top-search a, .main-color,.block-head.style2 span,.gform_title,.vc_custom_heading h3, .widget-head, footer a:hover, .title-2 .breadcrumbs a, .title-3 .breadcrumbs a, .title-4 .breadcrumbs a, .nav-3 .top-nav > ul > li.current-menu-parent > a, .nav-3 .top-nav > ul > li.current-menu-ancestor > a, .nav-3 .top-nav > ul > li.current-menu-item > a, .nav-3 .top-nav > ul > li.current_page_parent > a i,.nav-3 .top-nav > ul > li.current-menu-parent > a i,.nav-3 .top-nav > ul > li.current-menu-ancestor > a i, .nav-3 .top-nav > ul > li.current-menu-item > a i,.nav-3 .top-nav > ul > li.selected > a i,.nav-3 .top-nav > ul > li > a:hover i, .nav-3 .top-nav > ul > li > a:hover, .nav-3 .top-nav > ul > li.selected > a, .nav-3 .top-nav > ul > li.selected > a i, .footer-top a:hover:before, .list.prim li:before, #filters li a, .team-box-2 .t-position, .team-box-2 .team-socials a, .head-style3 .top-bar li a, .author-name, .add-items i.fa, .copyrights b, .dark-bg .btn-large:before, .box-top .more-btn, .icon-box-6:hover a, .box-top i.fa, .item-box:hover .item-tools i, .item-cart a:hover, .main-border, .fun-title, .staff-1 .fun-icon, .top-bar ul.social-list li a:hover span, .nav-2 .top-nav > ul > li > a:hover i, .nav-2 .top-nav > ul > li.current > a i, .nav-2 .top-nav > ul > li.selected > a i, .nav-2 .top-nav > ul > li.selected > a i, .project-name, .slick-dots li.slick-active button:before,.breadcrumbs.full a,.widget_display_replies ul li a.bbp-author-name,.widget-content a.btn, .widget-content a.button,
.order-info:before,.list.alt li:before,.product-price,.main-title, .wpb_accordion_wrapper .ui-state-active a, .wpb_accordion_wrapper .ui-state-active .ui-icon:before, .post-info h2 a:hover, .siteMap-nav ul ul li a:hover, .head2-lft-links li i, .head-style3 .top-bar li i, .item-tools i, .product-specs a.btn.selected,.widget-content a:hover,.block-head-News:hover,.block-head-News a span,.pager-style5 li span,
.activity-meta .unfav:before,.user-nicename ,.tp-caption.main-color *,.icon-box-7 h4,.head-7 .one-page .top-nav > ul > li.current-menu-parent > a,.head-7 .one-page .top-nav > ul > li.current-menu-ancestor > a, .head-7 .one-page .top-nav > ul > li.current-menu-item > a,.head-7 .one-page .top-nav > ul > li a:hover i,.head-7 .one-page .top-nav > ul > li.current-menu-parent > a i,.head-7 .one-page .top-nav > ul > li.current-menu-ancestor > a i, .head-7 .one-page .top-nav > ul > li.current-menu-item > a i{
    color: #970001;
}
.stickyHeader .top-nav > ul > li > a:hover,.gw-go-current .gw-go-earth1 .gw-go-coinf div,.gw-go-current .gw-go-earth1 .gw-go-coinb div,.one-page .current a span,
.gw-go-current .gw-go-earth2 .gw-go-coinf div,.gw-go-current .gw-go-earth2 .gw-go-header h3,.edd-cart-quantity,.edd_form fieldset legend,.main-col,.stickyHeader .top-nav > ul > li.current-menu-parent > a,
.stickyHeader .top-nav > ul > li.current-menu-ancestor > a,.stickyHeader .top-nav > ul > li.current-menu-item > a{
    color: #970001 !important;
}
.main-bg, .top-nav > ul li a:hover, .top-nav > ul > li.selected > a, .top-search.selected a, .top-nav li.current-menu-item > a,.top-nav li.current_page_parent > a, .top-nav li.current-menu-parent > a, .top-nav li.current-menu-ancestor > a, .plan-year:after, .team-box-2:hover, .head-style3 .top-search a, .icon-box-6:hover .box-top, .top-nav-style3,.stickyHeader .top-search.selected > a, .item-box:hover .item-title, .tp-bullets.simplebullets.round .bullet, .top-nav li li a, .fixedHead .top-nav > ul > li > a:hover, .fixedHead .top-nav > ul > li.selected > a, .fixedHead .top-nav > ul > li.current > a, .top-search a:hover, .icon-box-7:hover a.r-more, .icon-box-8:hover a.r-more, .pager ul li.selected, .slick-prev:hover, .slick-next:hover, .social-list li a:hover, .footer-top .tagcloud a:hover, .divider-7:before, .divider-7:after, .tp-arr-allwrapper:hover, .level-in, .tabs-vertical .wpb_tour_tabs_wrapper .wpb_tab:before, .table-style2 th, .menuBtn, .icon-box-6:hover:after, .portfolio-item:hover:after, #filters li:hover, #filters li.active, .head-style2 .top-search a, .team-box .team-details, .tabs > ul li:hover, .tabs > ul li.active, .tabs > ul li.selected, .steps li.selected span, .icon-cont, .view-all-projects a:hover,.wpb_toggle_title_active a u,
.accordion-horizontal > li.active a, .list-grid a.selected, .testimonials-2 .slick-prev:hover, .testimonials-2 .slick-next:hover, .comment-reply:hover, .icon-box-7:hover .fa, .icon-box-8:hover .icon, .share-post ul li a:hover, .item-price, .accordion li.active h3 u, .pager ul li:hover, .tp-bullets.simplebullets.round .bullet:hover, .tp-bullets.simplebullets.round .bullet.selected, footer .NL .NL-btn:hover,.add-new,.bbp-reply-author .bbp-author-role,#bbpress-forums h3:after,#bbpress-forums h3:before,
.search-w .btn,.cart-icon,.on-sale,.widget_product_search #searchsubmit,.fixedPage:after,.edd_downloads_list .edd_download .edd_download_inner:after,.Newsslider .post-content a.read-more,.woocommerce .widget_price_filter .ui-slider-range,.btn-main-bg,
.wpb_content_element .wpb_tabs_nav li.ui-tabs-active, .wpb_content_element .wpb_tabs_nav li:hover,.block-head-News:hover .icon,
.stickyHeader .top-nav > ul > li.current-menu-parent > a:before,.stickyHeader .top-nav > ul > li.current-menu-ancestor > a:before,.stickyHeader .top-nav > ul > li.current-menu-item > a:before{
    background-color: #970001;
    color: #fff;
}
.flat-dark .esg-filterbutton:hover,#buddypress div.item-list-tabs ul li.current, #buddypress div.item-list-tabs ul li.selected, .flat-dark .esg-navigationbutton:hover, .flat-dark .esg-sortbutton:hover, .flat-dark .esg-cartbutton:hover,
.bbp-forum-info ul.bbp-forums-list li:hover,.page-numbers li.main-bg,.main-bg-import,.gw-go-current .gw-go-earth1 .gw-go-btn,.gw-go-current .gw-go-earth2 .gw-go-btn,.gw-go-current .gw-go-earth2 .gw-go-coinb div,.esg-filterbutton.selected,.pagination-links span,
.edd_downloads_list .edd_download .edd_download_inner .edd_purchase_submit_wrapper .edd-add-to-cart,.edd_downloads_list .edd_download:hover .edd_download_title a {
    background-color: #970001 !important;
    color: #fff !important;
}
.btn-outlined,
.btn-square_outlined,.pager-style4 li span {
  border-color:#970001 
}
#buddypress #item-nav,.item-list-tabs,.Newsslider{
    border-bottom: 5px #970001 solid;
}
li.bbp-body .type-topic,.head-7 .one-page .top-nav > ul > li > ul,.pager-style5 li span{
    border-bottom-width: 3px;
    border-bottom-color:#970001;
}
.on-sale:before{
    border-color: transparent #970001 transparent transparent;
}
.item-box:hover:after, .item-box:hover .item-price, .team-box:hover:after, .team-box-2:hover:after, .responsive-nav, .search-box:before, .block-head:before, .block-head:after,.gform_title:before,.gform_title:after, .widget-head:before, .widget-head:after, .details-img:after, .post-image:after,.details-img:before,.post-image:before,
.team-box:after, .team-box-2:after, .item-box:after, .team-box .team-socials li a:hover, .icon-box-6:after, .portfolio-item:after,.wpb_heading:after,.wpb_heading:before,.vc_custom_heading h3:after,.vc_custom_heading h3:before,.edd_form fieldset legend:after,.edd_form fieldset legend:before {
    background-color: #970001;
}
.main-border,#buddypress div.activity-comments form textarea:focus,#buddypress #whats-new:focus,.wpb_accordion_wrapper .ui-state-active a,
.gw-go-current .gw-go-earth2,.wpb_toggle_title_active a,.vc_toggle_active .vc_toggle_title {
    border: 1px #970001 solid !important;
}
.head-style3 .login-btn .tri,.one-page ul li.current:before,.head-7 .one-page .top-nav > ul > li > ul:after{
    border-color: #970001 transparent transparent transparent;
}
.nav-3 .top-nav > ul > li.hasChildren > a:after,.stickyHeader .top-nav > ul > li > ul:after {
    border-color: transparent transparent #970001 transparent !important;
}
.alter-border {
    border: 1px #e1e1e1 solid !important;
    color: #777;
}
.nav-3 .top-nav > ul > li.current-menu-parent > a,.nav-3 .top-nav > ul > li.current-menu-ancestor > a, .nav-3 .top-nav > ul > li.current-menu-item > a, .nav-3 .top-nav > ul > li.current_page_parent > a, .nav-3 .top-nav > ul > li > a:hover, .nav-3 .top-nav > ul > li > a:hover, .nav-3 .top-nav > ul > li.selected > a,.fixedPage,.top-bar .search-top .search-box {
    border-top-color: #970001;
}
.chosen-container .chosen-results li.highlighted{
    background:#970001 !important
}
.item-box:hover .item-title,.edd_downloads_list .edd_download:hover .edd_download_title a {
    border-top: 1px #970001 solid;
}
.tabs-pane,.wpb_content_element.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tab  {
    border-top: 2px #970001 solid;
}
blockquote {
    border-color: #970001;
}
.level-out .tr {
    border-right: 6px solid transparent;
    border-top: 6px solid transparent;
    border-left: 6px solid #970001;
    border-bottom: 6px solid #970001;
}
.icon-box-6:hover h3, .clients > div a:hover {
    border-bottom-color: #970001;
}
.one-page ul li.current {
    border-bottom: 2px #970001 solid !important;
}
.icon-middle, .product-img li a.active img {
    border: 2px #970001 solid;
}
.tri-col, .icon-cont:after {
    border-color: #970001 transparent transparent transparent;
}
.head-style3 .top-bar,.footer-top-2,.mega-menu .mega-2 .div-mega {
    border-top: 5px #970001 solid;
}
.steps li.selected span:after {
    border-left: 16px solid #970001;
}
.item-title {
    border-top: 1px #777 solid;
}
.product-specs a.btn.selected {
    border: 1px #777 solid !important;
}
.accordion li.active h3 u,.accordion li.active h3 a,.post-item.sticky .post-image a,.block-head.style7 {
    border-color: #970001;
}
.post-image a .mask {
    background: rgba(151,0,1,0.5);
}
.pricing-table.selected,.cart-popup {
    border-color: #970001;
}
.list-grid a.selected:after {
    border-color: #970001 transparent transparent transparent;
}
.continue-btn .btn.right:after {
    border-left: 15px solid #970001;
}
.continue-btn .btn.right:hover:after {
    border-left: 15px solid #820000;
}
.continue-btn .btn.left:after {
    border-right: 15px solid #777;
}
.continue-btn .btn.left:hover:after {
    border-right: 15px solid #666;
}
.accordion-horizontal li.active > h3 i.fa, .item-box:hover .item-title a, .breadcrumbs .line-separate {
    color: #fff;
}
.top-nav li li {
    border-bottom: 1px #820000 solid;
}
.mega-menu .mega-3 .div-mega{
    border: 10px #970001 solid;
    padding:0px !important
}
.top-nav li li a:hover, .top-nav li li.selected > a, .top-nav li li.current_page_item > a, .responsive-nav ul li a:hover, .head-style1 .top-nav > ul > li > a:hover::after, .head-style1 .top-nav > ul > li.selected a:after,.head-style1 .top-nav > ul > li.current-menu-parent a:after, .head-style1 .top-nav > ul > li.current-menu-ancestor a:after, .head-style1 .top-nav > ul > li.current_page_parent a:after,.head-style1 .top-nav > ul > li.current-menu-item a:after,.widget_product_search #searchsubmit:hover {
    background-color: #820000 !important;
    color: #fff;
}
.btn-main-bg.btn-3d {
  -webkit-box-shadow: 0 5px 0 #820000;
  box-shadow: 0 5px 0 #820000;
  margin-bottom: 5px;
}
.btn.main-bg:hover,.btn-main-bg:hover, .team-box .team-socials li a,.share-post ul li a.main-bg:hover,.mega-menu div.div-mega > ul > li h4 a,.mega-menu .mega-3 .div-mega h4 a {
    background-color: #820000 !important;
    color: #fff;
}
.widget_it_widget_flickr .img-overlay {
    background: rgba(151,0,1,.7);
}
.esg-entry-cover .esg-overlay {
    background-color: rgba(151,0,1,0.85) !important;
}
.icon-box-6:hover p, .icon-box-6:hover i.fa {
    color: #fff;
}
.contact-form input[type=text]:focus, .contact-form input[type=password]:focus, .contact-form input[type=email]:focus, .contact-form textarea:focus,#bbpress-forums #bbp-your-profile fieldset input:focus, #bbpress-forums #bbp-your-profile fieldset textarea:focus, .contact-form input[type=url]:focus,
.wpcf7-form input[type=text]:focus, .wpcf7-form input[type=password]:focus, .wpcf7-form input[type=email]:focus, .wpcf7-form textarea:focus, .wpcf7-form input[type=url]:focus,.textArea:focus,
.gform_wrapper input[type=text]:focus, .gform_wrapper input[type=url]:focus, .gform_wrapper input[type=email]:focus, .gform_wrapper input[type=tel]:focus, .gform_wrapper input[type=number]:focus, .gform_wrapper input[type=password]:focus,.gform_wrapper textarea:focus{
    border: 1px #970001 solid !important;
}
.img-over a.link, .block-bg-1:before, .block-bg-2:before, .block-bg-3:before, .block-bg-4:before, .block-bg-5:before {
    background-color: rgba(151,0,1,0.7);
}
.img-over a.zoom {
    background-color: rgba(119,119,119,0.7);
}
.level-in:before {
    border-color: transparent transparent transparent #970001;
}