/* HLAVNÍ */

* {
font-family: "Open Sans", sans-serif;
}

.prihlaseni,
.registrace {
   min-height: 235px;
}
registrace div {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 22px;
}

.registrace-zobrazeni {
    display: none;
}

label {
    font-size: 14px;
    text-align: left !important;
}
.registrace-zobrazeni label.control-label {
    display: none !important;
}

.form-group {   
    margin-bottom: 0;
}

.form-control {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    border: 1px solid #c9c9c9;
    width:100%;
    border-radius: 3px;
    height: 40px;
    margin-bottom: 10px;
}
.form-group .form-control:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(143,93,183, 0.6);
    border: 0;
    
}

.col-sm-4 {
    padding-left: 0;
    padding-right: 0;
} 
a[name='register'] .col-sm-4, .col-sm-12 {
    padding-left: 15px;
    padding-right: 0;
}

#wpmem_login > a > div > form > div:nth-child(16) > div > input:nth-child(2) {
    margin-right: 0px;
}
#wpmem_login > a > div > form > div.col-sm-12 > span {
    float: right;
}
#billing_ico, label[for="billing_ico"],  
#billing_dic, label[for="billing_dic"]{
    display: none;
}
.btn-primary {
    background:  rgb(143,93,183);
    border-color:  rgb(143,93,183);
}

.btn-primary:hover {
    background: #59267c !important;
    border-color: #59267c !important;
}
/* PŘIHLÁŠENÍ */
.col-sm-offset-4.col-sm-8 input.btn.btn-primary.contact-btn {
    display: block;
}
.col-sm-offset-4.col-sm-8 input#rememberme {
    margin-left: 5px;
}

/* POMOC */
#need_help h3 {
    color: #8f5db7;
}




